<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwu-F-VRlrxoAUJtE4LAYksSNKO1cuT7A</string>
	<key>GCM_SENDER_ID</key>
	<string>530055740748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ptit</string>
	<key>PROJECT_ID</key>
	<string>ptit-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>ptit-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530055740748:ios:e85a441ef28714b21be3e9</string>
</dict>
</plist>